
.botoes{
    font-size: 10px;
    border-radius: 20px;
    margin-top: 35px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
   
    
}

.botao{
    font-size: 35px;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    transition: .2s;
    color: white;
    cursor: pointer;
} 
.botao2{
    font-size: 35px;
    height: 60px;
    width: 180px;
    border-radius: 20px;
    transition: .2s;
    color: white;
    cursor: pointer;
}
